@font-face {
  font-family: hamilton;
  src: url(./images/Hamilton-Light.woff);
}

* {
  margin: 0;
  padding: 0;
  font-family: hamilton;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

section {
  width: 100%;
}

img.mainLogo {
  display: block;
  margin: auto;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
}
th {
  /* font-style: bold;  It's the default behavior. No need to add it */
}
th,
td {
  vertical-align: center;
  text-align: center;
  border: 1px solid black;
}

th:nth-child(2) {
  /* HW spec requires first column (:first-child) 
  but my fist column is made of images therefore 
  I'm changing the second column*/

  font-style: italic;
  font-weight: normal;
}
tr:nth-child(even) {
  background-color: gray;
}

img.characters {
  width: 100px;
}
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  background-color: gray;
  padding: 10px;
  margin: 20px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.strikeMaterial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.strikeMaterial > img {
  width: 500px;
  margin-top: 10px;
}
p {
  width: 600px;
  text-align: center;
  margin: 20px 0;
}
div.outer-content {
  width: 75%;
  height: 200px;
  margin-top: 20px;
  background-color: pink;

  display: flex;
  align-items: center;
  justify-content: center;
}
div.inner-content {
  width: 75%;
  background-color: lightblue;
}
form {
  width: 400px;
  height: 300px;
  display: flex;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  border: 2px solid black;
}

input {
  width: 80%;
}
.formSection {
  margin: 30px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

div.radioGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 100px;
}
